.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dateinpt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-open {
 overflow:hidden
}
.modal-open .modal {
 overflow-x:hidden;
 overflow-y:auto
}
.modal {
 position:fixed;
 top:0;
 left:0;
 z-index:1050;
 display:none;
 width:100%;
 height:100%;
 overflow:hidden;
 outline:0
}
.modal-dialog {
 position:relative;
 width:auto;
 margin:.5rem;
 pointer-events:none
}
.modal.fade .modal-dialog {
 transition:transform .3s ease-out;
 transform:translateY(-50px)
}
@media (prefers-reduced-motion:reduce) {
 .modal.fade .modal-dialog {
  transition:none
 }
}
.modal.show .modal-dialog {
 transform:none
}
.modal.modal-static .modal-dialog {
 transform:scale(1.02)
}
.modal-dialog-scrollable {
 display:flex;
 max-height:calc(100% - 1rem)
}
.modal-dialog-scrollable .modal-content {
 max-height:calc(100vh - 1rem);
 overflow:hidden
}
.modal-dialog-scrollable .modal-footer,
.modal-dialog-scrollable .modal-header {
 flex-shrink:0
}
.modal-dialog-scrollable .modal-body {
 overflow-y:auto
}
.modal-dialog-centered {
 display:flex;
 align-items:center;
 min-height:calc(100% - 1rem)
}
.modal-dialog-centered:before {
 display:block;
 height:calc(100vh - 1rem);
 height:-webkit-min-content;
 height:min-content;
 content:""
}
.modal-dialog-centered.modal-dialog-scrollable {
 flex-direction:column;
 justify-content:center;
 height:100%
}
.modal-dialog-centered.modal-dialog-scrollable .modal-content {
 max-height:none
}
.modal-dialog-centered.modal-dialog-scrollable:before {
 content:none
}
.modal-content {
 position:relative;
 display:flex;
 flex-direction:column;
 width:100%;
 pointer-events:auto;
 background-color:#fff;
 background-clip:padding-box;
 border:1px solid rgba(0,0,0,.2);
 border-radius:.3rem;
 outline:0
}
.modal-backdrop {
 position:fixed;
 top:0;
 left:0;
 z-index:1040;
 width:100vw;
 height:100vh;
 background-color:#000
}
.modal-backdrop.fade {
 opacity:0
}
.modal-backdrop.show {
 opacity:.5
}
.modal-header {
 display:flex;
 align-items:flex-start;
 justify-content:space-between;
 padding:1rem;
 border-bottom:1px solid #dee2e6;
 border-top-left-radius:calc(.3rem - 1px);
 border-top-right-radius:calc(.3rem - 1px)
}
.modal-header .close {
 padding:1rem;
 margin:-1rem -1rem -1rem auto
}
.modal-title {
 margin-bottom:0;
 line-height:1.5
}
.modal-body {
 position:relative;
 flex:1 1 auto;
 padding:1rem
}
.modal-footer {
 display:flex;
 flex-wrap:wrap;
 align-items:center;
 justify-content:flex-end;
 padding:.75rem;
 border-top:1px solid #dee2e6;
 border-bottom-right-radius:calc(.3rem - 1px);
 border-bottom-left-radius:calc(.3rem - 1px)
}
.modal-footer>* {
 margin:.25rem
}
.modal-scrollbar-measure {
 position:absolute;
 top:-9999px;
 width:50px;
 height:50px;
 overflow:scroll
}
@media (min-width:576px) {
 .modal-dialog {
  max-width:500px;
  margin:1.75rem auto
 }
 .modal-dialog-scrollable {
  max-height:calc(100% - 3.5rem)
 }
 .modal-dialog-scrollable .modal-content {
  max-height:calc(100vh - 3.5rem)
 }
 .modal-dialog-centered {
  min-height:calc(100% - 3.5rem)
 }
 .modal-dialog-centered:before {
  height:calc(100vh - 3.5rem);
  height:-webkit-min-content;
  height:min-content
 }
 .modal-sm {
  max-width:300px
 }
}
@media (min-width:992px) {
 .modal-lg,
 .modal-xl {
  max-width:800px
 }
}
@media (min-width:1200px) {
 .modal-xl {
  max-width:1140px
 }
}

.close {
 float:right;
 font-size:1.5rem;
 font-weight:700;
 line-height:1;
 color:#000;
 text-shadow:0 1px 0 #fff;
 opacity:.5
}
.close:hover {
 color:#000;
 text-decoration:none
}
.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
 opacity:.75
}
button.close {
 padding:0;
 background-color:transparent;
 border:0
}
a.close.disabled {
 pointer-events:none
}

.btn {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 12px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: blue;
  color: white;
}

#datatable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#datatable td, #datatable th {
  text-align: center;
  border: 1px solid #ddd;
  /*padding: 8px;*/
}

#datatable tr:nth-child(even){background-color: #f2f2f2;}

#datatable tr:hover {background-color: #ddd;}

#datatable th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: lightblue;
  color: white;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
